{% extends 'base.html.twig' %}

{% if app.user %}
{% set url = path("creator_dashboard") %}
{% else %}
{% set url = path("login", {type: "log-in-or-sign-in"}) %}
{% endif %}

{% block main %}
    <a class="btn btn-outline-success btn-lg" href="{{ url }}" role="button">Organiser une session de soutenances</a>
{% endblock %}

