{% extends 'base.html.twig' %}

{% block main %}
<div class="container-lg">
    <a class="btn btn-outline-success btn-lg" href="{{ path('register') }}" role="button">Organiser une session de soutenances</a>
</div>
{% endblock %}

