{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<br><br>
<form method="post">
    {# If there's any error, display it to the user #}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h3>Connectez-vous !</h3>
    <p>Connectez-vous pour pouvoir organiser des sessions de soutenances</p>
    
    {# Email Input #}
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    
    {# Password Input #}
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    
    {# CSRF Token Input #}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <br>
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
<br><br>
{% if type == "log-in-or-sign-in" %}
<h3>Vous n'avez pas encore de compte ?</h3>
<p>Faîtes la demande d'un compte pour pouvoir organiser des sessions de soutenances et définir vos critères d'évaluation</p>
<button class="btn btn-lg btn-primary" href="{{ path('register') }}">
    Demander un compte organisateur
</button>
{% endif %}
{% endblock %}