{% extends 'base.html.twig' %}

{% block body %}
<h1>	Export</h1>
<a href="{{ path('export_soutenance') }}">
		<button type="submit" class="btn btn-success" id="export_soutenance">
	Export
		</button>
</a>
<?php 
?>
{% endblock %}