{% extends 'base.html.twig' %}

{% block body %}
<h1>		Ajout d'un commentaire</h1>

{{ form_start(formCommentaire) }}

		{{ form_row(formCommentaire.Contenu,{'attr' : {'placeholder': 'Contenu du commentaire'}}) }}
		{{ form_row(formCommentaire.note,{'attr' : {'placeholder': 'Note final de la soutenance'}}) }}
		<button type="submit" class="btn btn-success">
			Ajouter le commentaire
		</button>
{{ form_end(formCommentaire) }}

{% endblock %}