{% extends "base.html.twig" %}

{% block main %}

<h1>Encore un peu de patience...</h1>
<p>
    Votre demande de création de compte organisateur est en cours d'étude. 
    Vous recevrez une notification par mail dès qu'une décision la concernant 
    aura été prise par un administrateur de COS.
</p>
<p>Merci de votre compréhension.</p>

{% endblock %}