{% extends 'base.html.twig' %}

{%  block body %}
    <div class="jumbotron text-center">
        <h1>Homepage</h1>
        <p>Paragraphe paragraphe paragraphe paragraphe paragraphe paragraphe paragraphe.</p>
    </div>

    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>


{% endblock %}