{% include "base.html.twig" %}

{% block main %}

<h1>Point d'entrée de la partie de l'application réservée aux organisateurs de soutenances</h1>
<p>Proposer 2 fonctionnalités ici :</p>

<ul>
    <li>"Planifier/créer une session de soutenances" (À FAIRE !!)</li>
    <li>"Définir un modèle d'évaluation" -> redirige vers la création des fiches d'évaluation (Khalil + Maxime)</li>
</ul>

<p>Proposer quelques autres fonctionnalités moins importantes comme :</p>

<ul>
    <li>Permettre à l'organisateur de consulter les sessions qu'il a déjà planifiées.</li>
    <li>Lui permettre de les modifier (horaires, participants, etc...).</li>
    <li>Permettre à l'organisateur de consulter ses fiches d'évaluation.</li>
    <li>Lui permettre de les modifier.</li>
    <li>Permettre à l'organisateur de modifier ses infos/page "Mon profil".</li>
</ul>

{% endblock %}