{% extends 'base.html.twig' %}

{%  block body %}
    <div class="container mt-4">
        <h2>Éditer l'item</h2>
        {{ form_start(form) }}
        <div class="row">{{ form_row(form.title) }}</div>
        <div class="row">{{ form_row(form.rubrique) }}</div>
        <button class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
    </div>
{% endblock %}