{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajout d'un Modèle d'évaluation</h1>

{{ form_start(form_fiche) }}
<div class="form-check">

{{ form_widget(form_fiche) }}
</div>
{# {{ form_row(form_fiche.name,{'attr' : {'label.class': 'inputGroupFile02'}}) }} #}
		<button type="submit" class="btn btn-success">
			Ajouter le modèle
		</button>

{{ form_end(form_fiche) }}
<div class="list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Exemple de structure de fichier</h5>
    </div>
    <p class="mb-1">modele_name,rubrique_name,item_name,item_note<br>
modele_test,rubrique_test1,item_test1,25<br>
modele_test,rubrique_test1,item_test2,25<br>
modele_test,rubrique_test1,item_test3,50<br>
modele_test,rubrique_test2,item_test11,25<br>
modele_test,rubrique_test2,item_test12,25<br>
modele_test,rubrique_test2,item_test13,50
    </p>
  </a>
</div>


<script>
//pour afficher le nom du fichier
var elements = document.getElementsByClassName('custom-file-label');
for (var i in elements) {
  if (elements.hasOwnProperty(i)) {
    elements[i].className = '';
  }
}
var elements = document.getElementsByClassName('custom-file-input');
for (var i in elements) {
  if (elements.hasOwnProperty(i)) {
    elements[i].className = '';
  }
}

</script>
{% endblock %}